<div class="header">
    <div class="container">
        <div class="header-grid">
            <img (click)="menu()" src="assets/images/svg/menu-white.svg" alt="" class="icon-menu-mobile xl:hidden">
            <div>
                <a href="#" class="logo">Café Aroma</a>
            </div>
            <div class="flex items-center">
                <nav class="header-nav p-6 xl:p-0" [ngClass]="{ 'show-menu-mobile': isMenuOpen }">
                    <div class="flex justify-between items-center xl:hidden mb-4">
                        <h5 class="xl:d-hidden mb-0">Menú de navegación</h5>
                        <img (click)="menu()" src="assets/images/svg/close-white.svg" alt="" class="icon-close-menu-mobile">
                    </div>
                    <a routerLink="/home" routerLinkActive="active" class="nav-link">Inicio</a>
                    <a routerLink="/catalogo" routerLinkActive="active" class="nav-link">Catálogo</a>
                    <a routerLink="/promociones" routerLinkActive="active" class="nav-link">Promociones</a>
                    <a routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</a>
                    <a routerLink="/contacto" routerLinkActive="active" class="nav-link">Contacto</a>
                </nav>
                <div class="xl:ml-10">
                    <div (click)="showCart()" class="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="badge px-2 py-0.5 rounded-full">
                            9
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
