<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <h3 class="text-center mb-4">Contáctanos</h3>
    <div class="mb-4">
        <label for="Nombre">Nombre</label>
        <input type="text" formControlName="nameInput" placeholder="Tu nombre completo">
        @if (contactForm.get('nameInput')?.invalid && contactForm.get('nameInput')?.touched) {
            <div class="invalid-feedback">
                @if (contactForm.get('nameInput')?.errors?.['required']) {
                    <p>El nombre es obligatorio</p>
                }
            </div>
        }
    </div>
    <div class="mb-4">
        <label for="Nombre">Correo electrónico</label>
        <input type="text" formControlName="mailInput" placeholder="tu@dominio.com">
        @if (contactForm.get('mailInput')?.invalid && contactForm.get('mailInput')?.touched) {
            <div class="invalid-feedback">
                @if (contactForm.get('mailInput')?.errors?.['required']) {
                    <p>El mail es obligatorio</p>
                }
            </div>
        }
    </div>
    <div class="mb-4">
        <label for="Nombre">Mensaje</label>
        <textarea formControlName="messageInput" placeholder="Escribe tu mensaje aquí..."></textarea>
        @if (contactForm.get('messageInput')?.invalid && contactForm.get('messageInput')?.touched) {
            <div class="invalid-feedback">
                @if (contactForm.get('messageInput')?.errors?.['required']) {
                    <p>El mensaje es obligatorio</p>
                }
            </div>
        }
    </div>
    <div class="mt-10">
        <button type="submit" class="btn btn-primary w-full">Enviar mensaje</button>
    </div>
</form>
