<form class="contact-form">
    <h3 class="text-center mb-4">Contáctanos</h3>
    <div class="mb-4">
        <label for="Nombre">Nombre</label>
        <input type="text" placeholder="Tu nombre completo">
    </div>
    <div class="mb-4">
        <label for="Nombre">Correo electrónico</label>
        <input type="text" placeholder="tu@dominio.com">
    </div>
    <div class="mb-4">
        <label for="Nombre">Mensaje</label>
        <textarea placeholder="Escribe tu mensaje aquí..."></textarea>
    </div>
    <div class="mt-10">
        <button type="button" class="btn btn-primary w-full">Enviar mensaje</button>
    </div>
</form>
