<div class="promotions mt-10 mb-20">
    <div class="container">
        <div class="top-promotions text-center">
            <h1 class="mb-4">Promociones Especiales</h1>
            <p>No te pierdas nuestras ofertas exclusivas y promociones especiales. Disfruta de tus productos favoritos con descuentos increíbles y combos únicos.</p>
        </div>
        <section class="featured-promotions my-10 py-10 px-8">
            <div class="text-center mb-10">
                <h2 class="mb-4">Promociones destacadas</h2>
                <p>Las ofertas más populares de la semana</p>
            </div>
                <div class="products grid grid-cols-1 md:grid-cols-3 gap-8">
                    @for (promotion of promotions.slice(0,3); track promotion.id) {
                        <app-promotion [promotion]="promotion" [promotionFeatured]="'promotionFeatured'"></app-promotion>
                    }
                </div>
        </section>
        <section class="my-10 py-10">
            <div class="text-center mb-10">
                <h2 class="mb-4">Todas Nuestras Promociones</h2>
                <p>Explora todas las ofertas disponibles</p>
            </div>
                <div class="products grid grid-cols-1 md:grid-cols-3 gap-8">
                    @for (promotion of promotions; track promotion.id) {
                        <app-promotion [promotion]="promotion"></app-promotion>
                    }
                </div>
        </section>
        <section class="cta-promotions my-10 p-10">
            <div class="text-center">
                <h2 class="mb-4">¿Listo para aprovechar estas ofertas?</h2>
                <p>Visítanos hoy mismo y no te pierdas estas promociones exclusivas. También puedes contactarnos para más información sobre nuestras ofertas especiales.</p>
                <div class="xl:flex justify-center gap-4 mt-10">
                    <a class="btn btn-primary block mb-4 xl:mb-0">Ver Catálogo Completo</a>
                    <a class="btn btn-outline-primary block mb-4 xl:mb-0">Contactanos</a>
                </div>
            </div>
        </section>
        <section class="cta-terms my-10 p-10">
            <div class="text-center">
                <h2 class="mb-4">Términos y Condiciones</h2>
                <ul>
                    <li>* Las promociones no son acumulables entre sí</li>
                    <li>* Válido únicamente en nuestras instalaciones</li>
                    <li>* Sujeto a disponibilidad de productos</li>
                    <li>* Café Aroma se reserva el derecho de modificar estas promociones</li>
                </ul>
            </div>
        </section>
    </div>
</div>