aside {
    position: sticky;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    color: var(--gray-2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    .topic {
        color: var(--gray-1);
        font-weight: 500;
    }
}