$primary: #6f4e37;
$secondary: #dab49d;
$terteary: #ede6dd;
$quaternary: #f7f0e8;
$quinary: #0a0302;
$body: #faf7f0;
$gray-1: #2c2c2c;
$gray-2: #717182;
$gray-light-1: #ece6de;
$white: #FFF;
$black: #000;