/* You can add global styles to this file, and also import other style files */
@use 'colors' as colors;
@use 'btns' as btns;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #{colors.$primary};
    --secondary: #{colors.$secondary};
    --terteary: #{colors.$terteary};
    --quaternary: #{colors.$quaternary};
    --quinary: #{colors.$quinary};
    --body: #{colors.$body};
    --gray-1: #{colors.$gray-1};
    --gray-2: #{colors.$gray-2};
    --gray-light-1: #{colors.$gray-light-1};
    --white: #{colors.$white};
    --black: #{colors.$black};
}

body {
    background-color: var(--body);
    color: var(--gray-1);
}

p {
    font-size: 0.875rem;
}

.aux-position-swiper {
    position: relative;
}

.swiper {
    position: static !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -25px !important;
}
.swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
}
.swiper-pagination-bullet {
    background-color: var(--terteary) !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--primary) !important;
}

@media(min-width: 1200px) {
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -60px !important;
    }
}

.invalid-feedback {
    color: red;
}

